OPENAI_API_KEY=="###"
DATABASE_SECRET=="###"
DATABASE_USER="###"
DATABASE_HOST="postgres12"
DATABASE_NAME="starter-app"
DATABASE_PORTS="5498:5432"
DATABASE_URL="postgresql://root:$$$$@localhost:5498/starter-app?sslmode=disable"
